<footer>
    <img src="/assets/img/footer.png" class="opacity-50">
    <span class="text-light opacity-50">본 저작물은 제주특별자치도에서 작성하여 공공누리 제1유형으로 개방한 제주서체 - 제주명조를 이용하였으며,
        해당 저작물은 제주특별자치도 홈페이지에서 무료로 다운받으실 수 있습니다.</span>
</footer>