<!doctype html>
<html lang="kr">

<%- include('layouts/header'); -%>

<body>
	<div class="container text-center">
		<div id="main">
			<div class="row">
				<h1 class="display-1">향수 추천</h1>
			</div>
			<div class="row m-3">
				<p1>당신 주변에 있는 향기들을 추천해드릴게요.</p1>
			</div>
			<div id="blank"></div>
			<div class="row">
				<div class="col"></div>
				<a href="recent" role="button" id="start" class="col-4 btn btn-light opacity-75"><span>진단하기</span></a>
				<div class="col"></div>
			</div>
		</div>
		
	</div>

	<%- include('layouts/footer'); -%>
	<%- include('layouts/scripts'); -%>

</body>
</html>