<!doctype html>
<html lang="kr">

<%- include('layouts/header'); -%>

<body>
	<div class="container text-center">
		<div id="result">
			<div class="row">
				<h1 class="display-1">추천 결과</h1>
			</div>
			<div class="row m-3">
				<p1>당신이 좋아하는 향을 분석한 결과예요.</p1>
			</div>
			<div class="row mb-4">
				<div class="col-xl-2"></div>
				<div class="col">
					<img src="https://mybucket435231.s3.ap-northeast-2.amazonaws.com/img/1889+Moulin+Rouge.jpg" class="img-thumbnail m-4" alt="...">
					<h5>1889 Moulin Rouge</h5>
					<p>earthy</p>
				</div>
				<div class="col">
					<img src="https://mybucket435231.s3.ap-northeast-2.amazonaws.com/img/Amazing+Grace+Ballet+Rose.jpg" class="img-thumbnail  m-4" alt="...">
					<h5>Amazing Grace Ballet Rose</h5>
					<p>floral</p>
				</div>
				<div class="col">
					<img src="https://mybucket435231.s3.ap-northeast-2.amazonaws.com/img/Blanc+Violette.jpg" class="img-thumbnail  m-4" alt="...">
					<h5>Blanc Violette</h5>
					<p>floral</p>
				</div>
				<div class="col-xl-2"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<a href="/" id="restart" class="col-4 btn btn-light opacity-75"><span>다시하기</span></a>
				<div class="col"></div>
			</div>
		</div>
	</div>

	<%- include('layouts/footer'); -%>
	<%- include('layouts/scripts'); -%>

</body>
</html>